p {
    font-family: 'Spectral', serif;
    font-size: 18px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.heading {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
}

nav ul {
    list-style-type: none;
    font-family: 'Spectral', serif;
    font-size: 18px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3;
}

nav ul li a:hover {
    color: red;
}

footer {
    text-align: center;
}

.featured-image {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.about {
    text-align: center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 35px;
}

.social-commentary {
    text-align: center;
}

.surrealism {
    text-align: center;
}

.spine-chillers {
    text-align: center;
}

.social-commentary img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-commentary img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-commentary-art {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.surrealism img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.surrealism img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.spine-chillers img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.spine-chillers img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
